.container {
  position: relative;
}

#scrollingImage {
  width: 400px;
  height: 600px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}

.popup {
  display: none;
  position: absolute;
  top: 100%; /* Place it right under the image */
  left: 50%; /* Move the top-left corner of the popup to the center of the container */
  transform: translateX(-50%); /* Translate the popup back half its width to actually center it */
  width: 300px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  padding: 15px;
  box-shadow: 0px 0px 10px #000;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: rgba(0, 128, 128, 0.9); /* Different background color */
  color:white;
}

.popup.active {
  display: block;
  opacity: 1;
}


  